@tailwind base;
@tailwind components;
@tailwind utilities;

.box_shadow {
    /* Original box-shadow using rem units */
    /* box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11); */
    /* Alternative box-shadow using Tailwind's variables */
    --tw-shadow: 0 3px 7px 0px rgba(0, 0, 0, .13), 0 1px 2px 0px rgba(0, 0, 0, .11);
    --tw-shadow-colored: 0 3px 7px 0px var(--tw-shadow-color), 0 1px 2px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@keyframes slideInClockwise {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutClockwise {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideInAntiClockwise {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutAntiClockwise {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.slide {
    flex: 0 0 100%;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-out;
}

.slide.active {
    display: flex;
}

.slide.exitClockwise {
    animation: slideOutClockwise 1s forwards;
}

.slide.enterClockwise {
    animation: slideInClockwise 1s forwards;
}

.slide.exitAntiClockwise {
    animation: slideOutAntiClockwise 1s forwards;
}

.slide.enterAntiClockwise {
    animation: slideInAntiClockwise 1s forwards;
}

.carousel {
    position: relative;
    margin: 0 auto; 
    overflow: hidden;
}

.slides {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

@media (max-width: 1023px) {
    .slides {
        display: block;
    }

    .slide {
        display: block; 
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
}

.prev,
.next {
    color: #2f2f2f;
    border: none;
    cursor: pointer;
    padding: 7px 1px;
    font-size: 20px;
    margin: 0 5px;
    overflow-x: hidden;
}

.prev svg path,
.next svg path {
    transition: transform 0.2s ease-in;
}

.prev:hover svg path {
    transform: translateX(-46px);
}

.next:hover svg path {
    transform: translateX(36px);
}

.indicator {
    display: flex;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
    border: 2px solid black;
}

.carousel-control-autoplay:hover svg circle {
    fill: black;
}

.carousel-control-autoplay:hover svg rect,
.carousel-control-autoplay:hover svg polygon {
    fill: white;
}
